@use "common" as *;



.footer__top__area {
    background: #002c49;
    padding: 45px 0;
    @include mq(xs){
        padding: 30px 0;
    }
}

.footer_top_content {
  h3{
    color: #00ccff;
    font-size: 24px;
    font-weight: 300;
  }
}

.footer_top_content {
    h3{
        span{
            font-weight: 900;
        }
    }
}

.footer_top_content {
   p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
   }
}

.subs_blk {
 h3{
    font-size: 24px;
    color: #e00024;
    text-transform: uppercase;
    font-weight: 900;
 }
}

.subs_blk  {
    input{
        font-size: 18px;
    font-weight: 300;
    text-align: left;
    padding-left: 24px;
    }
}

.subs_blk {
    input{
        border-color: #df0024;
    }
}

.subs_blk {
    button{
        background: #df0024;
    }
}


/* Footer top css end */


/* footer area css start */

.footer__area {
    background: #06ccff;
    padding: 45px 0;
    @include mq(xs){
        padding: 30px 0 10px;
    }
}

.widget_title {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

.footer_menu {
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.footer_menu {
   ul{
       li{
           a{
            font-size: 18px;
            font-weight: 300;
            text-decoration: underline;
            color: #002c49;
            transition: .4s;
           }
       }
   }
}

.footer_menu  {
    ul{
        li{
            a{
                &:hover{
                    font-weight: 600;
                }
            }
        }
    }
}

.footer_menu  {
    ul{
        li{
            margin-bottom: 6px;
        }
    }
}

.pm_mth {
   a{
    margin-right: 20px;
    display: inline-block;
    &:last-child{
        margin: 0;
    }
   }
}

